In [1]:
#importing libraries
import os, glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
from datetime import date

#Names of columns:
colnames=['date', 'S1counts', 'S1SM', 'S1Perm', 'S1Temp', 'S1Volt',
        'S2counts', 'S2SM', 'S2Perm', 'S2Temp', 'S2Volt',
        'S3counts', 'S3SM', 'S3Perm', 'S3Temp', 'S3Volt',
        'S4counts', 'S4SM', 'S4Perm', 'S4Temp', 'S4Volt',
        'S5counts', 'S5SM', 'S5Perm', 'S5Temp', 'S5Volt',
        'S6counts', 'S6SM', 'S6Perm', 'S6Temp', 'S6Volt',
        'S7counts', 'S7SM', 'S7Perm', 'S7Temp', 'S7Volt',
        'S8counts', 'S8SM', 'S8Perm', 'S8Temp', 'S8Volt',
        'S9counts', 'S9SM', 'S9Perm', 'S9Temp', 'S9Volt',
        'S10counts', 'S10SM', 'S10Perm', 'S10Temp', 'S10Volt']  #D:\\Stations_data\\Bansathi\\Bansathi_all_months_copy

#matching the file directories
files_path = 'D:\\Stations_data\\Bansathi\\Bansathi_all_months_copy'
os.chdir(files_path)

#matching the file formats in that folder
extn = '.csv'
list_of_files = [i for i in glob.glob(f"*{extn}")]
#print(list_of_files)

mydateparser = lambda x: pd.datetime.strptime(x, "%d.%m.%Y %H:%M:%S")
df = pd.concat([pd.read_csv(f, sep = ',', skiprows = 1, skipfooter = 1, engine = 'python', date_parser = mydateparser,
                 header = None, names = colnames, skip_blank_lines = False) 
      for f in list_of_files], join = 'inner' )
#print(df.tail())
#df['date'] = df['date'].drop_duplicates(inplace = True)
#df.shape
#df.set_index('date')

In [2]:
#df1 = pd.read_csv('01_Bans_March_2020.csv', sep = ',', date_parser = mydateparser, )

In [3]:
df = df.dropna(thresh = 5)
df.set_index('date', inplace = True)
df.head()

,S1counts,S1SM,S1Perm,S1Temp,S1Volt,S2counts,S2SM,S2Perm,S2Temp,S2Volt,...,S9counts,S9SM,S9Perm,S9Temp,S9Volt,S10counts,S10SM,S10Perm,S10Temp,S10Volt
date,,,,,,,,,,,,,,,,,,,,,
29.02.2020 07:06:14,13004.0,8.33,15.46,19.602,7.26,11770.0,13.67,25.44,20.664,7.33,...,14518.0,4.51,6.80,18.164,7.28,12512.0,10.44,19.67,19.695,7.39
29.02.2020 07:16:14,13004.0,8.33,15.46,19.594,7.26,11771.0,13.67,25.43,20.703,7.33,...,14521.0,4.51,6.79,18.094,7.28,12513.0,10.43,19.67,19.648,7.39
29.02.2020 07:26:14,13003.0,8.34,15.47,19.563,7.26,11771.0,13.67,25.43,20.656,7.33,...,14520.0,4.51,6.79,18.086,7.28,12513.0,10.43,19.67,19.641,7.39
29.02.2020 07:36:14,13002.0,8.34,15.48,19.492,7.26,11771.0,13.67,25.43,20.648,7.33,...,14519.0,4.51,6.80,18.117,7.28,12513.0,10.43,19.67,19.625,7.39
29.02.2020 07:46:14,13003.0,8.34,15.47,19.492,7.26,11771.0,13.67,25.43,20.648,7.33,...,14518.0,4.51,6.80,18.117,7.28,12513.0,10.43,19.67,19.617,7.39

In [4]:
#df['date'] = pd.to_datetime(df['date'])
df.index.unique()

Index(['29.02.2020 07:06:14', '29.02.2020 07:16:14', '29.02.2020 07:26:14',
       '29.02.2020 07:36:14', '29.02.2020 07:46:14', '29.02.2020 07:56:14',
       '29.02.2020 08:06:14', '29.02.2020 08:16:14', '29.02.2020 08:26:14',
       '29.02.2020 08:36:14',
       ...
       '28.01.2021 12:20:48', '28.01.2021 12:30:48', '28.01.2021 12:40:48',
       '28.01.2021 12:50:48', '28.01.2021 13:00:48', '28.01.2021 13:10:48',
       '28.01.2021 13:20:48', '28.01.2021 13:30:48', '28.01.2021 13:40:48',
       '28.01.2021 13:50:48'],
      dtype='object', name='date', length=29636)

In [5]:
#first_row = df.iloc[0, :]
#df.drop(first_row, axis = 0, inplace = False)
#df.iloc[:,0].astype(float)
#df.info()
df.describe()

,S1counts,S1SM,S1Perm,S1Temp,S1Volt,S2counts,S2SM,S2Perm,S2Temp,S2Volt,...,S9counts,S9SM,S9Perm,S9Temp,S9Volt,S10counts,S10SM,S10Perm,S10Temp,S10Volt
count,28872.000000,28872.000000,28872.000000,28872.000000,28872.000000,28886.000000,28859.000000,28859.000000,28859.000000,28951.000000,...,18485.000000,18485.000000,18485.000000,18485.000000,18485.000000,8582.000000,8582.000000,8582.000000,8582.000000,8582.000000
mean,12355.296273,11.547635,21.243431,24.143984,11.705899,11340.881604,16.876486,30.185364,24.483961,49.043151,...,11758.777495,15.435298,27.536375,20.456601,11.934313,12352.386041,11.782659,21.669017,26.560861,11.783119
std,788.678884,3.569488,6.427525,6.936461,1.000892,314.367530,2.426736,3.508852,6.027284,659.439685,...,1000.204590,4.402645,7.589011,5.414520,0.459632,700.282565,3.763468,5.840513,2.692313,0.526098
min,10135.000000,5.800000,9.880000,10.992000,5.130000,10404.000000,12.750000,23.880000,14.086000,5.100000,...,10056.000000,1.060000,0.000000,11.250000,7.200000,10085.000000,1.010000,0.000000,19.328000,7.330000
25%,11820.000000,8.230000,15.240000,17.477000,11.620000,11150.000000,14.160000,26.240000,18.758000,11.750000,...,11191.000000,13.110000,24.500000,15.727000,11.780000,11972.250000,8.750000,16.332500,24.313000,11.700000
50%,12131.000000,11.910000,22.400000,25.445000,11.880000,11258.000000,17.290000,30.970000,26.281000,11.980000,...,11510.000000,15.870000,28.900000,19.117000,11.930000,12231.000000,11.740000,22.100000,27.641000,11.850000
75%,13037.000000,13.630000,25.380000,30.609000,12.190000,11691.000000,18.220000,32.250000,30.242000,12.320000,...,11936.000000,18.490000,32.600000,25.664000,12.140000,12969.750000,13.080000,24.450000,28.672000,11.980000
max,13946.000000,34.490000,47.630000,36.047000,12.660000,11931.000000,27.450000,42.310000,32.688000,11733.000000,...,18628.000000,36.660000,49.020000,32.852000,12.710000,18958.000000,35.870000,48.520000,30.023000,12.140000

In [6]:
df.to_csv('Bansathi_all.csv', index = True)

In [7]:
#S1counts_max = df['S1counts'].max()
#print(S1counts_max)
#S1counts_thresh = df['S1counts'].quantile(0.98)
#print(S1counts_thresh)

In [8]:
#plot.plot(df.index, df.S1SM);
#df.describe()

In [9]:
#df1 = pd.read_csv('01_March_2020.csv', sep = ',', index_col = 'date')
#df1

In [10]:
#plot.plot(df1.index, df1.S1SM);
#df.describe()